<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tripsters</title>
    <!-- jquery UI for drag drop -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <!-- Bootstrap -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <!-- leaflet -->
    <link rel="stylesheet" href="resources/leaflet/leaflet.css" />
    <link rel="stylesheet" href="resources/css/leaflet.awesome-markers.css" />
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.css' rel='stylesheet' />
    
    <style type="text/css">
	    html { height: 100%; }
	    body { height: 100%; margin: 0; padding: 0; }
	    /* Give our markers a background image */
	    .leaflet-marker-icon {
	      background: url(https://foursquare.com/img/pin-blue-transparent.png);
	      padding: 6px;
	      padding-bottom: 17px;
	      top: -6px;
	      left: -6px;
	      }
  	</style>
  </head>
  <body>
  	<!-- <div id="map" style="height: 300px;"></div> -->
    <div class="masthead">  
      <ul class="nav nav-pills " style="width:100%; margin-left:10%">
        <li class="active" style="width:40%"><a href="#">Search</a></li>
        <li style="width:40%"><a href="#">My Itineraries</a></li>
      </ul>
    </div>

    <div class="row">
    <div class="col-md-4">
      <div id="itNavDivId"></div>
    </div>

 <!--   <script type="text/template" id="itNavBar_template">
      <ul class="nav nav-pills nav-stacked">
        <% _.each(itList, function (venueList, itName) { %>
          <li class="active"><a href="#"><%= itName%></a></li>
        <% }); %>
      </ul>
    </script> -->

    <script type="text/template" id="itNavBar_Accordion_template">
      <div class="panel-group" id="accordion" style="color: blue;">
      <% _.each(itList, function (venueList, itName) { %>
        <div class="panel panel-default" >
          <div class="panel-heading" >
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href=<%="#" + itName%> class="itLink">
                <span class="glyphicon glyphicon-road"></span><%= itName%>
              </a>
              <a href=<%="#" + itName%> class="deleteIt" ><span class="glyphicon glyphicon-trash"></span><a>
              <a href=<%="#" + itName%> class="animateIt" ><span class="glyphicon glyphicon-calendar"></span><a>
            </h4>
          </div>
          <div id=<%=itName%> class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="sortableUL">
              <% _.each(venueList, function (venue, index) { %>
                <li class="ui-state-default"> 
                <a href=<%="#" + itName + "#" + index%> class="venueLink"><%=venue.name%></a>
                <a href=<%="#" + itName + "#" + index%> class="deleteVenue" ><span class="glyphicon glyphicon-trash"></span><a>
                </li>
              <% }); %>
              </ul>
            </div>  <!-- panel-body -->
          </div>  <!-- panel-collapse -->
        </div>  <!-- panel-default -->
      <% }); %>
        <div class="panel panel-default" >
          <div class="panel-heading" >
            <h4 class="panel-title">
              <span class="glyphicon glyphicon-road"></span>
              <a class="addItLink">Create new itinerary</a>
              <span class="glyphicon glyphicon-trash"></span>
            </h4>
          </div>
        </div>  <!-- panel-default -->
      </div> <!-- panel-group -->
    </script>

    <script type="text/template" id="deleteAlert_template">
      <div class="alert alert-danger">
          <button type="button" class="btn btn-danger" data-dismiss="alert" id="deleteId" >Really Delete ???</button>
          <button type="button" class="btn btn-default" data-dismiss="alert" id="backId" >Or Go Back</button>
      </div>
    </script>

    <div class="col-md-8">
      <div style="height: 600px;" id="map_canvas"></div>
    </div>

    </div><!-- div-row -->

    <div class="modal fade" id="addItModalId">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create an itinerary</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name of the new itinerary" id="newItNameId">
                 <label class="control-label" for="newItNameId" style="display:none">Enter a name</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="addItId" type="button" class="btn btn-primary">Add</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="resources/js/underscore.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/leaflet/leaflet.js"></script>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.js'></script>
    <script src="resources/js/leaflet.awesome-markers.js"></script>
    <script src="resources/js/itinerary.js"></script>
  </body>
</html>